body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#tape {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 20px auto;
    flex-wrap: nowrap;   /* evita que se rompa la fila */
}

.tape-cell {
    width: 35px;
    height: 35px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgb(0, 0, 0);
}



.tape-cell.head {
    border-color: cyan;
    background: #003b48;
}

#stateBox {
    width: 150px;
    height: 150px;
    background: #eee;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    font-size: 18px;
    text-align: left;
}


#stateBox {
    margin-left: auto;
    margin-right: auto;
}


#state, #result {
    padding: 10px;
    font-size: 20px;
    min-height: 30px;
}

.accept {
    color: #00ff00;
}
.reject {
    color: #ff4444;
}

